.gridItemHover {
    transition: 0.25s ease-in-out;
}

.gridItemHover:hover {
    transform: scale(1.05);
    background-color: #f5f5f5 !important;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    cursor: pointer;
}
